@{
  Layout = "_Layout";
}

<h1>Add New Cuisine</h1>

<form action="/CuisineList" method="post" class="form-group">
  <label for="cuisineName">Cuisine:</label>
  <input type="text" class="form-control" name="cuisineName">
  <button type="submit" class="btn btn-lg btn-default">Add Cuisine</button>
</form>
<a href="/"><button type="button" class="btn btn-info">Home</button></a>
