@{
  Layout = "_Layout";
}

<form action="/" method="post" class="form-group">
  <label for="cuisineName">Cuisine:</label>
  <input type="text" class="form-control" name="cuisineName">
  <button type="submit" class="btn btn-lg btn-default">Search Cuisine</button>
</form>

<form action="/" method="post" class="form-group">
  <label for="restaurantName">Restaurant Name:</label>
  <input type="text" class="form-control" name="restaurantName">
  <button type="submit" class="btn btn-lg btn-default">Search Restaurant</button>
</form>

<a href=""><button type="button" class="btn btn-warning">View Cuisines</button></a>
<a href=""><button type="button" class="btn btn-warning">View Restaurants</button></a>
<a href="/CuisineForm"><button type="button" class="btn btn-success">Add Cuisine</button></a>
<a href="/RestaurantForm"><button type="button" class="btn btn-success">Add Restaurant</button></a>
